body {
    text-align: center;
    background: white;
    font-size: 1em;
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",
                sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

#section {
    display: grid;
    max-width: 2000;
    margin: 10px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(10, minmax(100px, auto));
    grid-gap: 10px;
    /* background: #009999; */
}

#section #header, #footer {
    /* background: rgb(63, 63, 70); */
    background: white;
}


#header {
    grid-row: 1 / 2;
    grid-column: 1 / 9; 
    display: flex;
    /* border-bottom: 1px solid grey; */
    box-shadow: 0 2px 5px -1px rgb(223, 223, 223);
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    /* background: white; nime uchin ishlegenyok*/
}

#header ul {
    /* line-height: 100px; */
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    align-items: center;
    padding: 0;
    margin: 0;
}

#header ul li {
    display: flex;
    flex-wrap: wrap;
    color: rgba(39, 39, 39, 0.678);
}

#header ul li a {
    color: rgba(39, 39, 39, 0.678);
    text-decoration: none;
    display: block;
    margin: 10px;
    /* line-height: 50px; */
}

#header a:hover {
    color: black;
    transition: color 0.5s;
}

#search {
    margin: 10px;
    padding: 10px;
    font-size: large;
    outline: none;
    border: 2px solid #6dabe4;
    border-radius: 25px;
}


#main {
    grid-row: 2 / 10;
    grid-column: 1 / 9;
    box-shadow: 0 2px 5px -1px rgb(223, 223, 223);
}

#main #wrapper {
    display: flex;
    padding: 10px;
    /* background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%; */
    color: rgba(39, 39, 39, 0.678);
    flex-direction: column;
}

#employee {
    display: flex;
    /* margin: 5px; */
    padding-bottom: 10px;
    /* border-radius: 30px; */
    /* border-bottom: 1.2px solid rgb(228, 228, 228); */
    /* box-shadow: 0 4px 2px -2px gray; */
}

/* #employee:nth-child(1) img{
    background: #FF8528;
}

#employee:nth-child(2) img{
    background: #7CE5DE;
}

#employee:nth-child(3) img{
    background: #D7EDFF;
}

#employee:nth-child(4) img{
    background: #E59C7F;
}

#employee:nth-child(5) img{
    background: #00c8ff70;
} */

#employee span {
    margin-top: 20px;
}

#employee img {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

#footer {
    grid-row: 10 / 11;
    grid-column: 1 / 9;
    box-shadow: 0 2px 5px -1px rgb(223, 223, 223);
}

@media screen and (max-width: 700px)
{
    #employee {
        flex-direction: column-reverse;
    }

    #employee img {
        background: white;
        border-radius: 0;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }
}
